DOMAINS_TO_CRAWL=["cnn.com","bbc.com","nytimes.com","twitch.tv","youtube.com","spotify.com","hulu.com","netflix.com","vimeo.com","reuters.com","theguardian.com","foxnews.com","washingtonpost.com","bloomberg.com","cnbc.com","techcrunch.com","wired.com","engadget.com","reddit.com","imdb.com","rottentomatoes.com","espn.com","nba.com","mlb.com","nfl.com","yahoo.com","msn.com","forbes.com","buzzfeed.com","medium.com","quora.com","stackexchange.com","stackoverflow.com","github.com","gitlab.com","npmjs.com","adobe.com","fiverr.com","upwork.com","etsy.com","ebay.com","amazon.com","linkedin.com","facebook.com","twitter.com","instagram.com","tiktok.com","snapchat.com","pinterest.com","wordpress.com"]
CSV_FILENAME="crawler_results.csv"